body {
	background-color: black;
}

.flagpole {
	width: 100%;
}

.flag {
	display: grid;
	margin: 20% auto;
}

.sweden {
	width: calc(39px * 16);
	height: calc(39px * 10);
	grid-template: 4fr 2fr 4fr / 5fr 2fr 9fr;
}

.finland {
	width: calc(35px * 18);
	height: calc(35px * 13);
	grid-template: 5fr 3fr 5fr / 5fr 3fr 10fr;
}

.denmark {
	width: calc(37px * 17);
	height: calc(37px * 14);
	grid-template: 6fr 2fr 6fr / 6fr 2fr 9fr;
}

.iceland {
	width: calc(25px * 25);
	height: calc(25px * 18);
	grid-template: 7fr 1fr 2fr 1fr 7fr / 7fr 1fr 2fr 1fr 14fr;
}

.square {
	width: 100%;
	height: 100%;
}

.blue {
	background-color: rgba(0,100,160,1);
}

.yellow {
	background-color: rgba(255,220,0,1);
}

.white {
	background-color: rgba(255,255,255,1);
}

.red {
	background-color: rgba(255,0,0,1);
}