/* RESPONSIVE IFRAME https://stackoverflow.com/questions/17838607/making-an-iframe-responsive */





@font-face {
	font-family: Canela;
	src: url('../fonts/Canela-Light.otf');
}

@font-face {
	font-family: University;
	src: url('../fonts/UniversityCyr-Roman.otf');
}

@font-face {
	font-family: Sneaky;
	src: url('../fonts/Sneaky-Times.otf');
}

@font-face {
	font-family: Basis;
	src: url('../fonts/basis_normal.otf');
}




/* STRUCTURE */

* {
	font-family: Basis;
	font-size: 24px;
}

::-webkit-scrollbar { /* WIDTH */
	width: 1px;
	height: 1px;
}

::-webkit-scrollbar-track { /* BACKGROUND */
	background: rgb(70,0,255); 
}

::-webkit-scrollbar-thumb { /* HANDLE */
	background: white; 
}

::-moz-selection {
	background-color: rgba(255,255,255,0.99);
	color: rgba(70,0,255,1);
}

::selection {
	background-color: rgba(255,255,255,0.99);
	color: rgba(70,0,255,1);
}

body {
	margin: 1rem;
	background: rgb(70,0,255);
}

.case {
	width: calc(100vw - 2rem);
	height: calc(100vh - 2rem);

	display: grid;
	grid-template-rows: 4rem 1fr 4rem;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 0.5rem;
}

.shelf {
	overflow: auto;
	background: white;
	padding: 1rem;

	cursor: ew-resize;
}

.shelf:hover {
	background: rgb(70,0,255);
	color: white;
}

.shelf:hover p {
	color: white;
}

.frame {
	grid-column-start: 1;
	grid-column-end: 7;
}


/* IFRAME */

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    margin-bottom: 0.5rem
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    height: calc(100%);

    background: white;
    border: solid rgb(70,0,255) 1px;
}


/* TEXT */

p {
	margin: 0;
	margin-bottom: 0.5rem;
	color: rgb(70,0,255);

	text-align: center;
}

.title {
	font-family: Canela;
	font-size: 1rem;
}

.bigboy {
	color: white;
	font-family: University;
	font-size: 3rem;
	text-transform: uppercase;
}

.subtitle {
	font-family: Canela;
	font-size: 1rem;

	margin-top: 1rem;
}


/* LINKS */

a {
	cursor: alias;
}


/* IMAGES */

img {
	width: 100%;
	margin: 0;
	margin-bottom: 0.5rem;
}

