@font-face {
	font-family: BeatriceDisplay;
	src: url(../fonts/BeatriceDisplayLight.otf);
}

body {
	font-size: 18pt;
}

.title {
	position: fixed;
	width: 100%;
	top: 38vh;
	margin-left: auto;
	margin-right: auto;

	font-family: BeatriceDisplay;
	font-size: 4rem;
	text-align: center;
	line-height: 0;

	mix-blend-mode: screen;
}

.frame {
	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr 1fr; /* rows / columns */

	margin: 7rem;
}

img {
	width: calc(100% - 2rem);
	margin: 1rem;
	margin-top: 2rem; 
	margin-bottom: 8rem;

	opacity: 0.8;

	cursor: pointer;
	transition-duration: 0.2s
}

img:hover {
	opacity: 1;
	transition-duration: 0.2s
}

.item {
	transition-duration: 2s;
}

.caption {
	width: 100%;
	height: 100%;
}