.thing {
	margin: auto;

	color: red;
	font-size: 50pt;
	text-align: center;

	transition-duration: 0.3s;
}

/*.thing:hover {
	color: blue;

	transition-duration: 0.3s;
}*/

img {
	width: 400px;
	height: auto;
}