* {
  font-size: 18px;
}

body {
  /*background-color: rgb(255,225,180);*/
  margin: 4rem 20rem 4rem 20rem;
}

.article-feed {
  text-align: center;
}

.article {
  /*background-color: black;*/
}

img {
  width: 100%;
}