body {
	background-color: black;
}

.wrapper {
	display: grid;
	grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* rows / columns */

	width: 100%;
	height: 100%;
}

.layer {
	width: 100px;
	height: 100px;

	margin: 12px;

	background-color: white;
}

.hover-me {
	background-color: red;
}