/* HALF N HALF SCROLL https://stackoverflow.com/questions/15453410/independent-column-scroll-in-html-page */

@font-face {
	font-family: Daubenton;
	src: url("../fonts/daubentonwebfont.woff");
}
@font-face {
	font-family: Minipax;
	src: url("../fonts/Minipax-Regular.woff");
	font-weight: normal;
}

* {
	font-family: Minipax;
	font-size: 20px;
	line-height: 32px
}

::-webkit-scrollbar { /* WIDTH */
	width: 5px;
}

::-webkit-scrollbar-track { /* BACKGROUND */
	background: rgb(230,190,180);
}

::-webkit-scrollbar-thumb { /* HANDLE */
	background: black; 
}

::-webkit-scrollbar-corner {
	background: rgb(230,190,180);
}

body {
    background: rgb(100,100,120);
}

img {
	width: 100%;

	opacity: 0.5;
	mix-blend-mode: multiply;

	transition-duration: 1s;
}

img:hover {
	opacity: 1;

	transition-duration: 1s;
}

p {
	margin-top: 0;
}

.wrapper {
	/*position: fixed;*/
	width: calc(100% - 6rem);
    height: calc(100% - 6rem);
	margin: 3rem;
}

.main-title {
	position: sticky;
	top: 3rem;
	left: 0;
	min-width: 50%;
	margin: calc(50% / 2);
}

.main-title p {
	padding: 0rem 1rem 1rem 1rem;
	border: solid 3px black;

	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
	line-height: 4rem;
	text-align: center;
}