/* HALF N HALF SCROLL https://stackoverflow.com/questions/15453410/independent-column-scroll-in-html-page */

@font-face {
	font-family: Daubenton;
	src: url("../fonts/daubentonwebfont.woff");
}
@font-face {
	font-family: Minipax;
	src: url("../fonts/Minipax-Regular.woff");
	font-weight: normal;
}

* {
	font-family: Minipax;
	font-size: 20px;
}

::-webkit-scrollbar { /* WIDTH */
	width: 5px;
}

::-webkit-scrollbar-track { /* BACKGROUND */
	background: white; 
}

::-webkit-scrollbar-thumb { /* HANDLE */
	background: red; 
}

img {
	width: 100%;
	grid-column-start: 2;
	grid-column-end: span 1;

	mix-blend-mode: multiply;
}

img:hover {
	/*filter: grayscale(100);*/
}

p {
	margin-top: 0;
}

.column-title {
	grid-column-start: 1;
	grid-column-end: span 2;

	font-family: Daubenton;
	font-size: 4rem;
	word-break: break-all;
}

.keywords {
	grid-column-start: 2;
	grid-column-end: span 1;

	font-family: Daubenton;
	font-size: 2rem;
}

a {
	margin-top: 0px;
	text-decoration: none;
}

.left-link {
	color: white;
}

.right-link {
	color: white;
}

a:hover {
	text-decoration: line-through;

	cursor: alias;
}

.main-title {
	position: fixed;
	padding: 2px 5px 5px 5px;

	font-size: 0.5rem;
	text-align: center;
	white-space: nowrap;

	background-color: red;
	/*border: 1px solid white;*/
	mix-blend-mode: multiply;
}

.main-title.red {
	color: red;
}

.main-title.white {
	color: white;
}

.wrapper {
	position: fixed;
	top: 0px;
	left: 0px;

	width: 100%;
    height: 100vh;
}

.side-wrapper {
	display: grid;
	grid-gap: 2rem;	
	grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 2fr; /* ROWS / COLUMNS */

	width: calc(50% - 4rem);
    height: calc(100% - 4rem);
    padding: 2rem;
    overflow: auto;

	background-color: red;
	color: white;
}

.left {
	float: left;
}

.right {
	float: right;
}